.product-img {
    width: 100%;              /* Stretches to fit card width */
    height: 100px;            /* Fixed height for all images */
    object-fit: cover;        /* Crops to fill the box without distortion */
}


.card {
    height: 100%;
}
