# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# Django stuff
db.sqlite3
media/
staticfiles/

# IDE settings
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db
